.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 0 20px;                
}

.logo {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    text-align: center;
}

.logo img {
    height: 100px;
    margin-bottom: 5px;
}

.logo h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
}

.logo h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 1.2;
}

.sub_text h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: right; 
    font-weight: 400;
    margin: 0;
}

.sub_text label {
    display: block;
    font-weight: 400;
}

.content-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 80px;             
    margin-top: 30px;
}

.left-text, .center-text, .right-text {
    flex: 1;
}

.left-text {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    text-align: left;
    padding-right: 50px;           
}

.center-text {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.4;
    padding: 0 40px;               
}
.color {
    color: rgb(0, 179, 255);
    font-weight: bold;
}
.color1 {
    color: rgb(0, 179, 255);
    font-weight: bold;
}

.right-text {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    text-align: right;
    padding-left: 50px;             
}

.center-text h3 {
    font-size: 18px;
    margin: 0 0 3px 0;
    font-weight: bold;
}

.center-text p,
.left-text p,
.right-text p {
    margin: 2px 0;
    font-size: 14px;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100px;
}

td, th {
  border: 2px solid black;
  text-align: center;
  padding: 8px;
  vertical-align: middle;
}

td {
  height: 150px;
}
.subject {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  gap: 4px;                
}

.subject span {
  font-weight: bold;
}

.subject label {
  display: block;
  font-size: 14px;
}
.blue{
    background-color: rgb(0, 179, 255);
}

}

 body {
        font-family:'Times New Roman', Times, serif;
        font-size: 16px;
        line-height: 1.7;
    }

    .signature-section {
        width: 100%;
        margin-top: 0px;
        text-align: center;
    }

    .signature-row {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 0px;
    }
    .signature-box {
        flex: 1;
        margin: 0 10px;
    }

    .date {
        margin-bottom: 40px; /* space before signature line */
    }